<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shalskar.fitnesscalculator">

    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="FitnessApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FitnessCalculatorTheme.Light">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".activities.MyStatsActivity"
            android:label="@string/my_stats" />

        <uses-library android:name="android.test.runner"/>
    </application>

</manifest>
